body{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  display: flex;
  background-color: #FCE5E6;
  
}

#root {
  background-color: #FCE5E6;
  margin: 0px;
  padding: 0px;
}

.texto {
  width: 420px;
  display: flex;
  margin-left: 300px;

}



