main {
    width: 1024px;
    height: 768px;
}
.rol { 
    display: flex;
    font-size: 40px;
    font-family: sans-serif;
    align-items: center;
    margin-left: 70%;
    margin-top: 10%;

}


.main {
    display: flex;

}
   
.chef {
    width: 60%;
    margin-top: 10px;
    margin-left: 150px;
    

}

.btnChef {
    background-color:#FF5757 ;
    
}

.mesero {
    margin-top: -100px;
    width: 60%;
    margin-left: 400px;
}

.btnMesero {
    background-color:#FF5757 ;
    opacity: 60%;
    width: 150px;
    height: 40px;
}


img{
    border-radius: 50%;
}

button.btnChef {
    text-align: center;
    height: 90px;
    width: 90px;
}
