body{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    display:flex;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 15%;
    margin:30px;

}

 .loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.texto {
    width: 320px;
    display: flex;
    flex-direction: column;

}

.title {
    font-size: 40px;
    text-align: center;

}

p.title{
    margin: 10px;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    width: 70%;
    
}

p.subtitle{
    margin: 20px;
}

input{
    height: 50px;
    width: 500px;
    margin:10px;
    border-radius: 15px;
    border: solid 2px #FF5757;
    opacity: 60%;
    background-color: white;
    text-align: center;
    font-size: 25px;
    
}

.logIn{
    color: white;
    font-size: 25px;
    width: 250px;
    margin: 20px;
    background-color: #FF5757;
    opacity: 60%;
    border-radius: 30px;

} 